// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// //css
// @import "../css/app.css";

// body {
//     background-color: #f4f6f9;
// }